@import 'variables';

.header {
  height: 88px;
  background-color: $bgColorW;
  border-bottom: 1px solid $bdColorB;
  padding: 0px 10px 0px 10px;
  align-items: center;

  .header__icon {
    width: 40px;
    height: 40px;
    margin: 0px 10px 0px 10px;
  }

  .header__deco-line {
    margin: 30px 10px 30px 10px;
    height: 32px;
    width: 2px;
    border-radius: 2px;
    background-color: $hlColor;
  }

  .header__nav {
    display: flex;
    justify-content: space-between;

    .header__nav--left, 
    .header__nav--right {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  }
}