@import 'variables';

.icon {
  width: 40px;
  height: 40px;
  background-color: $bgIcon;
  border-radius: 20px;
  
  image {
    position: relative;
    x: 25%;
    y: 25%;
  }
}

.logo {
  width: 96px;
  height: 51px;
  margin: 0px 10px 0px 10px;
}

.arrow--down {
  width: 24px;
  height: 24px;

  image {
    position: relative;
    x: 25%;
    y: 25%;
  }
}