@import 'header';
@import 'variables';
@import 'services';
@import 'repair-brands';
@import 'repair-type';
@import 'price';
@import 'side-menu';
@import 'feedback';
@import 'call';
@import 'footer';
@import 'icon';
@import 'fonts';

body {
  padding: 0;
  margin: 0;
  font-family: Comic, sans-serif;
  background-color: $bgColorM;
}
