@import 'header';
@import 'variables';
@import 'services';
@import 'repair-brands';
@import 'repair-type';
@import 'price';
@import 'icon';
@import 'fonts';

body {
  padding: 0;
  margin: 0;
  font-family: Comic, sans-serif;
}

main {
  background-color: $bgColorM;
}
